<li class="itinerary-li" data-cat="{{category}}">
  <a href="/itinerary/preview/{{id}}">
    <figure class="gallery-figure itinerary-figure folded-ribbon">
      <h3 class="gallery-h2 cat-tags" style="">{{category}}</h3>
      <h2 class="gallery-h2">
        {{title}}
      </h2>
      <p class="username gallery-caption" style="z-index:1;">curated by:<br />{{user.username}}</p>
      <img style="width: 100%" src="{{thumbnail}}" class="img-responsive" alt="Vacation picture">
    </figure>
  </a>
</li>